.pokemon {
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}

.search{
    text-align: center;
    margin-bottom: 20px;
    /* margin-left: 50%;
    transform: translate(-50%); */
}

.search h3{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.search input{ 
    width: 500px;
    height: 30px;
    border-radius: 7px;
}


