.search{
    height: 40px;
}

.pokenumber{
    height: 20px;
    border-radius: 7px;
    margin-right: 10px;
}

#submit{
    border-radius: 6px;
    height: 27px;
    border-color: rgba(0, 0, 0, 0.616);
    background-color: rgb(122, 234, 17);
}